body{
    background-color:whitesmoke;
}
.loginBox {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBox form {
    height: 400px;
    width: 50%;
}

.link {
    text-align: center;

}
.dashboard{
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
}
.dashboard header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
#loginAlert{
    text-align:center;
}
/* for slider  */

.slider {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.slider a {
    width: 100px;
    height: 100%;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}
.slider a.active {
    background-color: green;
    color: white;
}

.slider a:hover i,.slider a:hover p {
    color: blue;
    text-shadow: 1px 1px 1px rgba(23, 6, 255, 0.747);


}

.slider a i {
    padding-right: 10px;
    transition: all 0.1s linear;
}
.slider a p{
    margin: 0;
    transition: all 0.1s linear;

}
.slider a .active {
    background-color: green;
    color: white;
}
@media (max-width:425px){
    .slider a p{
        display: none;
    
    }
    .slider a i {
        font-size: 20px;
        padding: 0;
    }

}



/* .dashboard header div {
    display: flex;
    height: max-content;
    gap: 10px;
} */